<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
        <add key="secretKey" value="secret00001387837"/>
    </appSettings>

  <connectionStrings>
    <add name="WebApiCon" connectionString="Data Source=localhost;Initial Catalog=WebApiDB;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
